body {
    background-color: black;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65pt;
    line-height: 0%;
    color: white;
    font-weight: lighter;
}
#container {
    background-color: #101e22;
    width: 950px;
    margin: 20px auto;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
}
header {
    text-align: center;
    padding: 50px;
}
nav {
    text-align: center;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 20px 0;
}
nav a {
    color: red;
    font-size: 30px;
    margin: 0 20px;
}
nav a:hover {
    color: white;
    text-decoration: none;
}
main {
    background-color: black;
    margin: 20px auto;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
   
}
main h2 {
    color: red;
    text-align: center;
    font-size: 40px;
}
main img {
    display: block;
    margin: 20px 50px;
    width: 200px;
    float: right;
}
p {
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
color: red;
    text-align: center;
    font-size: 40px;
}
ul {
    color: white;
}
a {
    color: red;
    font-size: 30px;
    margin: 0px 20px;
    padding: 0 25px;
    
}
footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid white;
    color: white;
}
.pg_2 {
    width: 600px;
    float: none;
    margin: 20px auto;
}
