/* Global Styles */
* {
    margin: 0;
}
#pg_1 {
background-color: black;
background-image: url(../Images/pg1bg.jpg);
background-repeat: inherit;
background-size: contain;
}
#pg_2 {
background-color: black;
background-image: url(../Images/space-background-with-stardust-and-shining-stars-realistic-colorful-cosmos-with-nebula-and-milky-way-blue-galaxy-background-beautiful-outer-space-infinite-universe-illustration-free-vector.jpg);
background-repeat: inherit;
background-size: cover;
}
#pg_3 {
background-color: black;
background-image: url(../Images/pg3bg.jpg);
background-repeat: inherit;
background-size: cover;
}
#pg_4 {
background-color: black;
background-image: url(../Images/pg4bg.jpg);
background-repeat: inherit;
background-size: cover;
}
#pg_5 {
background-color: black;
background-image: url(../Images/pg5bg.webp);
background-repeat: inherit;
background-size: cover;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}

/* Mobile Styles */

#container {
    background-color: #161616;
    width: 92%;
    margin: 20px auto;
    border: 4px solid black;
    border-radius: 20px;
}

header img {
    border: 1px solid black;
    border-radius: 20px;

}
header h1 {
    font-size: 35px;
    color: white;
    padding: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    text-align: center;
    border-bottom: 2px solid white;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0 ;
    
}
nav li {
    display: block;
}
nav li a {
    display: block;
    background-color: black;
    color: white;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid red;
    margin: 10px 0;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav li a:hover {
    color: red;
    background-color: #161616;
}
hr {
    border: 1px solid white;
}
main {
    margin: 12px;
}
h2 {
    font-size: 20px;
    color: white;
    padding: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
p {
    color: white;
    font-size: 14px;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    text-indent: 12px;
    margin-bottom: 10px;
}
iframe {
    display: block;
    margin: 2px auto ;
    padding: 20px;
    border: 0;
    height: 200px;
    width: 90%;
}
h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
    #container{
        width: 90%;
    }
    nav li {
        display: inline-block;
        width: 130px;
        margin: 5px;
        
    }
    nav li a {
        border: 2px solid red;
        border-radius: 10px;
        font-size: 13px;
    }
    iframe {
        height: 400px;
        width: 90%;
    }
}
/* Desktop Styles */
@media (min-width: 1024px) {
    #container{
        width: 86%;
    }
    nav li {
        display: inline-block;
        width: 175px;
        margin: 20px;
        height: 65px;
        
        
    }
    nav li a {
        border: 2px solid red;
        border-radius: 10px;
        font-size: 16px;
    }
    nav li a:hover {
    color: rgb(255, 0, 0);
    background-color: #002db4;
    border-color: white;
    }
    iframe {
        height: 450px;
        width: 60%;
    }
    
}