body {
background-color: black;
background-image: url(https://w0.peakpx.com/wallpaper/479/31/HD-wallpaper-red-smoke-abstract-amoled-black-cool-dark.jpg);
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
a {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}

#container {
    background-color: #161616;
    width: 65%;
    margin: 20px auto;
    border: 4px solid black;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid white;
}
header h1 {
    font-size: 75px;
    color: white;
}

nav {
    text-align: center;
    border-bottom: 2px solid white;
}
nav ul {
    list-style-type: none;
    padding: 0 ;
    
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 25px;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 10px;
}
nav li a:hover {
    color: red;
    background-color: #161616;
}

main {
    background-color: black;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
}
main h2 {
    text-align: center;
    font-size: 45px;
    color: red;
}
main img {
    display: block;
    margin: 15px 42px;
    width: 15%;
    float: right;
}
main ul {
    list-style-type: none;
    margin: 300px 35px 0 35px;
    padding: 0;
    display: flex;
    gap: 32px;
}
main li{
    display: inline-block;
}
main li p {
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: black;
    width: 309px;
    height: 40px;
    margin: 0 5px;
    text-align: center; 
}
main h3 {
    color: red;
    text-align: center;
    font-size: 45px; 
    margin: 0;
    padding: 20px; 
}
.wtl {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
    background-color: black;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
}
.wtl:hover {
    color: red;
    background-color: #161616;
}
.lastline {
    margin: 0;
    padding: 0;
}
footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid white;
    color: white;
}
p {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
}
.pg_2img {
    width: 52%;
    float: none;
    margin: 20px auto;
    padding: 15px
}
.pg_2 {
    text-align: center;
}
.pg_2 ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.pg_2 li {
    display: inline-block;
}
.pg_2 li a {
    text-indent: 0;
    display: block;
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
}

.multi_col {
    display: flex;
}
section, aside {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20;
    padding: 20;
}
.pg_3 {
    color: white;
}
section {
    width: 60%;
    padding: 20px;
    margin: 0 50px;
    background-color: #161616;
}
aside {
    width: 25%;
    background-color: #161616;
    padding: 20px;
    text-indent: none;
}
h4 {
    color: red;
    text-align: left;
    font-size: 38px; 
    margin: 0;
    padding: 15px;
}
section img {
    width: 45%;
    border: 2px solid red;
    border-radius: 20px;
    margin: 20px
}
aside img {
    margin: 10px auto;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
}
